snippet stdio "#include <stdio.h>"
#include <stdio.h>$0
endsnippet

snippet fori "Loop: for (int i=0;i<count;i++) "
for (int ${1:i} = 0; $1 < ${2:count}; ${3:$1++}) {
	$0
}
endsnippet

snippet { "matching braces"
{
	$0
}
endsnippet
