



snippet r "attr_reader"
attr_reader :${0:attr_names}
endsnippet

snippet w "attr_reader"
attr_writer :${0:attr_names}
endsnippet

snippet rw "attr_accessor"
attr_accessor :${0:attr_names}
endsnippet
